@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --primary: 0 23 31; */
    --light: 208 250 229;
    --secondary: 23 84 90;
    --accent: 94 199 142;
    --text-primary: 16 16 16; /* #101010 */
    --text-secondary: 78 82 80; /* #4e5250 */
}


html{
    scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar{
    scrollbar-width: none; /* FireFox */
    -ms-overflow-style: none;
}

/* Target WebKit-based browsers */
.slim-scrollbar::-webkit-scrollbar {
    width: 8px; /* Change this to adjust the scrollbar width */
    height: 8px; /* Adjust for horizontal scrollbar */
}

/* Scrollbar thumb (the draggable part) */
.slim-scrollbar::-webkit-scrollbar-thumb {
    background-color: #91a5a663; /* Thumb color */
    border-radius: 20px; /* Rounded thumb */
}

.projects-animate{
    animation: slide-left 20s infinite linear;
    
    &:hover{
        animation-play-state: paused;
    }
}

@keyframes slide-left{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}

.click-view-btn{
    top: 57%;
    left: 35%;
    animation-name: slide-up;
    animation-timing-function: cubic-bezier(0.45, 0.78, 0.45, 0.97);
    animation-duration: 0.3s;
    transition: transform;
}

@keyframes slide-up{
    0%{
        transform: translateY(100%);
        opacity: 0%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}